SQUARE_ACCESS_TOKEN=
SQUARE_LOCATION_ID=LZKACQ1YN724X
SQUARE_ENVIRONMENT=production
SQUARE_API_VERSION=2025-10-16
SQUARE_WEBHOOK_SIGNATURE_KEY=
SQUARE_WEBHOOK_NOTIFICATION_URL=https://www.virtuosausa.com/api/webhooks/square
NEXT_PUBLIC_SITE_URL=https://virtuosausa.com
